// PRIMARY COLORS
$grimoire-dark-brown: #4D4637; 
$grimoire-beige: #B9AA87; 
$grimoire-grey: #46494F; 
$grimoire-teal: #99BBB3; 

// BACKGROUND COLORS
$grimoire-background: #fbf8f2;
$grimoire-header: #f8f3e7; 
$grimoire-light-sand: #EEE1C5; 
$grimoire-pale-beige: #E6DFBE; 

// ACCENT COLORS
$grimoire-red: #C74444; 

// SUPPORTING COLORS - HOVER 
$grimoire-hover: #CFF3EB; 

// LANDING PAGE COLORS

$grimoire-olive-green: #3a5a40;
$grimoire-orange: #da7422;
$grimoire-blue: #3182a5;
$grimoire-dark-red: #9e2a2b;
$grimoire-purple: #ac46a1;
$grimoire-yellow: #f9a620;
$grimoire-logo: #2f2b22;