/* font properties: body, headings, specific elements(buttons/nav), paragraphs */
@use 'mixins' as *;

/* Define fonts with default weight */
@include font-face("EB Garamond", "@assets/fonts/EBGaramond-Regular", 400);
@include font-face("EB Garamond", "@assets/fonts/EBGaramond-SemiBold", 600);
@include font-face("EB Garamond", "@assets/fonts/EBGaramond-Bold", 700);


//MOBILE TEXT STYLES
@mixin header-title {
    font-size: 1.75rem;
    line-height: 2.25rem;
}
@mixin header-nav {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
@mixin labels-links-buttons {
    font-size: .8125rem;
    line-height: 1.25rem;
}
@mixin table-header {
    font-size: .6875rem;
    line-height: 1rem;
}
@mixin body-large {
    font-size: .9375rem;
    line-height: 1.625rem;
}
@mixin body-medium {
    font-size: .8125rem;
    line-height: 1.25rem;
}
@mixin body-small {
    font-size: .6875rem;
    line-height: 1rem;
}

//DESKTOP AND TABLET TEXT STYLES
@mixin dt-header-title {
    font-size: 2rem;
    line-height: 2.5rem;
}
@mixin dt-header-nav {
    font-size: 1.2rem;
    line-height: 2rem;
}
@mixin dt-labels-links-buttons {
    font-size: .875rem;
    line-height: 1.375rem;
}
@mixin dt-table-header {
    font-size: .75rem;
    line-height: 1.125rem;
}
@mixin dt-body-large {
    font-size: 1rem;
    line-height: 1.75rem;
}
@mixin dt-body-medium {
    font-size: .875rem;
    line-height: 1.375rem;
}
@mixin dt-body-small {
    font-size: .75rem;
    line-height: 1.125rem;
}

    

