
.MuiDateCalendar-root {
    @include tablet{
        width: 768px !important; 
        padding: 1rem;
        overflow: visible !important;
    }
    @include desktop {
        width: 900px !important;
        overflow: visible !important;
        //padding: 4rem;
    }
}

.MuiPickersCalendarHeader-root {
    @include desktop {
        width: 950px !important;
       
    }
}

.MuiDayCalendar-header {
    display: flex !important;
    margin-left: 1.2rem;
    justify-content: flex-start !important;
    width: 280px !important;
    background-color: rgba($grimoire-dark-brown, 0.2) !important;

    @include tablet{
        width: 670px !important;
        gap: 4rem;
        margin-left: 2rem;
        margin-bottom: 0.5rem;
    }

    @include desktop {
        width: 900px !important;
        gap: 6rem;
        margin-left: 0;
        padding-left: 1.9rem;
    }
}

.MuiDayCalendar-monthContainer {
    @include tablet{
        width: 768px !important;
        margin-left: 0.5rem;
    }

    @include desktop{
        width: 900px !important;
        margin-left: 0;
    }

}

.MuiDayCalendar-weekContainer {
    @include tablet{
        width: 768px !important;
        justify-content: flex-start !important;
        gap: 4rem;
        padding-left: 1.5rem;
        margin-bottom: 1rem !important;
    }
    @include desktop{
        width: 900px !important;
        gap: 4.9rem;
        margin-bottom: 3rem !important;
    }
}

.MuiBadge-badge {
    @include desktop {
        height: 30px !important;
        width: 30px !important;
        border-radius: 20px !important;
        font-size: 16px !important;

    }
   
}

.MuiPickersCalendarHeader-label {
    font-family: 'EB Garamond', serif !important;
    @include tablet{
        @include dt-calender-header; 
        font-weight: 600;
        color: $grimoire-dark-brown;
    }
    @include tablet{
        @include dt-header-title; 
       // padding-left: 1.5rem;
    }
}

.MuiPickersCalendarHeader-root {
    @include tablet{
        margin-bottom: 2rem !important;
        padding-left: 1rem !important;
        padding-right: 3rem !important;

    }
}

.MuiDayCalendar-weekDayLabel {
    font-family: 'EB Garamond', serif !important;
    @include tablet{
        font-weight: 700 !important;
        @include dt-calender-week-label; 
        color: $grimoire-dark-brown;
    }

    @include desktop{
        font-weight: 700 !important;
        font-size: 22px !important; 
    }

}

.MuiPickersDay-root {
    font-family: 'EB Garamond', serif !important;
    @include tablet{
        font-weight: 400 !important;
        @include dt-calender-week-label; 
        color: $grimoire-dark-brown;
    }

    @include desktop {
        font-size: 22px !important;
        height: 52px !important;
        width: 52px !important;
    }
}



.Mui-selected {
    background-color: $grimoire-teal !important;
}